* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-family: 'Helvetica', 'Arial', sans-serif;
  --clr-primary: #5d6063;
  --clr-bg: #f6f7f8;
  --clr-bg-body: #eaedf0;
  --clr-border: #d6d9dc;
}

body {
  color: var(--clr-primary);
  font-family: var(--ff-family);
  background-color: var(--clr-bg-body);
}

.speaker-form-header {
  text-align: center;
  width: 90%;
  margin: 2em auto;
  padding: 1em 2em;
  border: 1.8px solid var(--clr-border);
  border-radius: 0.2em;
  background-color: var(--clr-bg);
}

.speaker-form-header h1 {
  margin-bottom: 0.4em;
  /* color: black; */
}

.speaker-form-header p {
  margin-bottom: 1em;
}

.speaker-form {
  width: 90%;
  padding: 1em;
  margin: 1em auto;
  border: 1.8px solid var(--clr-border);
  border-radius: 0.2em;
  background-color: var(--clr-bg);
}

.form-row {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 0.5em;
}

.form-row label:not(.radio-label),
fieldset legend {
  font-size: 0.8em;
  font-weight: 600;
}

.form-row input[type],
.form-row select,
.form-row textarea,
.form-row button {
  border: 2px solid var(--clr-border);
  border-radius: 0.2em;
}

.form-row input[type],
.form-row select {
  color: inherit;
  opacity: 0.9;
  /* font-size: 1.2em; */
  padding: 0.4em 0.4em;
  max-width: 20em;
}

input[type='checkbox'],
input[type='radio'] {
  vertical-align: middle;
}

.legacy-form-row {
  border: none;
}

.legacy-form-row .form-row {
  gap: 0.8em;
}

.legacy-form-input {
  display: flex;
  justify-content: flex-start;
}

.legacy-form-input .radio-label {
  font-size: 0.8em;
}

.legacy-form-input .radio-label:first-of-type {
  margin-right: 2em;
}

.abstract-input textarea {
  color: inherit;
  width: 100%;
  padding: 1em;
}

.abstract-input .instructions {
  font-size: 0.9em;
  opacity: 0.5;
  margin-top: 0.5em;
}

.form-row button {
  color: white;
  font-size: 1.5em;
  font-weight: 800;
  padding: 0.25em 2em;
  border: none;
  background-color: rgba(0, 0, 255, 0.6);
  cursor: pointer;
}


.form-row button:hover {
  background-color: #76aeed;
}

.form-row button:active {
  background-color: #407fc7;
}

.form-row  *:focus,
.form-row  *:active {
  outline: none;
}
@media (min-width: 550px) {
  .speaker-form-header,
  .speaker-form {
    width: 80%;
    max-width: 600px;
  }

  .speaker-form {
    padding: 2em 0;
  }

  .legacy-form-row,
  .form-row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .form-row {
    gap: 2em;
    grid-template-columns: 5em 1fr;
    grid-template-rows: none;
    align-items: center;
  }

  .form-row > :first-child {
    justify-self: end;
  }

  .form-row .abstract-label {
    align-self: start;
  }

  .form-row > *:only-child {
    justify-self: start;
  }

  .legacy-form-row .form-row {
    width: 100%;
    gap: 2em;
  }

  .checkbox-label,
  .form-row button {
    grid-column: 2 / -1;
    justify-self: start;
  }

  .abstract-input textarea {
    width: 90%;
  }

/* Utility */
.spacer > * + * {
  margin-top: 1.5em;
}
